@tailwind base;
@tailwind components;
@tailwind utilities;


@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200&family=Poppins:ital,wght@0,300;0,400;0,500;1,500;1,600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200&family=Nunito:wght@1000&family=Poppins:ital,wght@0,300;0,400;0,500;1,500;1,600&display=swap');

  .container{
    width: 100%;
    padding: 0 15px;
    margin:0 auto;
  
  }

@media (min-width:576px){
    .container{
        max-width:540px;
    }
}
@media (min-width: 768px) {
    .container {
      max-width: 720px;
    }
  }
  
  @media (min-width: 992px) {
    .container {
      max-width: 960px;
    }
  }
  
  @media (min-width: 1200px) {
    .container {
      max-width: 1152px;
    }
  }
